.card {
  width: 100%;
  max-width: 317px;
  height: 100vh;
  min-height: 700px;
  overflow: hidden;
  border-radius: 8px;
  margin: auto;
  background-color: #1A1B21;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.profile-picture {
  width: 317px;
  height: 317px;
  object-fit: cover;
  object-position: right;
}